@import reset

$background-color: #fafafa
$foreground-color: #333333

html, body
  height: 100%

body
  background: $background-color
  color: $foreground-color
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

*,
*:before,
*:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

