@import reset

$background-color: #fafafa
$foreground-color: #333333

$complementary-color-1: #22995e
$complementary-color-2: adjust-hue($complementary-color-1, 180deg)

html, body
  height: 100%

body
  background: $background-color
  color: $foreground-color
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

*,
*:before,
*:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.container
  width: 480px
  margin: 0 auto

.grid-box
  width: 30px
  height: 30px
  background-color: $foreground-color
  border: 1px solid $background-color
  float: left

.grid-box.other-clicked
  background-color: $complementary-color-2
.grid-box.client-clicked
  background-color: $complementary-color-1

#grid-loading
  display: block
  margin: 50px auto

#conn-status
  text-align: center
